/*
General Styles
*/

body {
    background-color: lightgreen;
}

/*
Top Header
*/

#topheader{
    background-color: #2C5F2D;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    flex: 1;
    margin: 0px;
    padding: 15px;
    z-index: 1000;
}

header {
    text-align: center;
    margin-top: 100px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
    flex-wrap: wrap;
}

nav a {
    font-size: 20px;
    font-weight: bold;
    color: #A7C957;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

nav a:hover {
    color: #FFD700;
}

/*
Homepage
*/

#mid {
    background-color: lightgreen;
    flex: 1;
    justify-content: center;
    justify-items: center;
    padding: 80px;
    margin: 0%;
}

#lower{
    position: fixed;
    background-color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 50px;
    padding-bottom: 70px;
}

#lower p {
    text-align: center;
}

div h1{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

/*
Leaderboard
*/
#leaderboardMain {
    background-image: url(images/galaxy.png);
    background-size: cover; 
    background-position: center;
}

#leaderboardMain::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.leaderboardPage{
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#leaderTitle{
    text-align: center;
    font-size: 60px;
    width: 100%;
    color:white;
}

#leaderDes{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
}

#leaderboardSect{
    background-color: white;
    background-color: rgba(71, 69, 69, 0.795);
    padding: 100px;
    border-radius: 30px;
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    
}

#leaderboardContent1 img{
    border-radius: 200px;
    width: 150px;
    height: 150px;
}

#leaderboardContent1 {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    font-weight: bold;
}

#leaderboardContent2, #leaderboardContent3{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;

}
#leaderboardContent2 img,
#leaderboardContent3 img{
    border-radius: 200px;
    width: 100px;
    height: 100px;
    margin-left: 25px;
}

#leaderboardContent2 p {
    color: silver;
}

#leaderboardContent3 p {
    color: burlywood;
}


#leaderboardContent1 p {
    font-size: 30px;
    color: gold;
}
/*
Community
*/

.post {
    background-color: #ffffff;
    display: flex; 
    align-items: flex-start;
    padding: 15px;
    margin: 15px;
    border-radius: 25px;
}

.post img {
    margin-right: 20px; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.post p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.like-btn, .reply-btn {
    cursor: pointer;
    color: white;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 14px;
    border-width: 0.1px;
}

.reply-btn {
    background-color: rgb(69, 201, 102);
}

.like-btn {
    background-color: rgb(144, 151, 158);
    transition: background-color 0.3s ease;
}

.reply-btn:hover {
    background-color: rgb(34, 131, 59);
}

.like-btn:hover {
    background-color: rgb(37, 100, 190);
}

.like-btn.liked {
    background-color: rgb(37, 137, 245);
}

.like-btn.liked:hover {
    background-color: rgb(79, 83, 87);
}

.like-btn.no-hover:hover {
    background-color: rgb(37, 137, 245) !important;
}

.like-btn.no-hover-liked:hover {
    background-color: rgb(144, 151, 158) !important;
}

.separate-reply-div {
    position: relative;
    margin-top: 10px;
    padding-left: 63px;
}

.separate-reply-div::before {
    content: "";
    position: absolute;
    left: 51px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
    opacity: 50%;
}

.reply-section {
    margin: 17px;
    padding: 15px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    gap: 10px;
}

.reply-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgb(173, 162, 162);
}

.submit-reply-btn {
    background-color: rgb(69, 201, 102);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.submit-reply-btn:hover {
    background-color: rgb(34, 131, 59);
}

.comment {
    position: relative;
    background-color: white;
    border: 1px solid rgb(221, 213, 213);
    padding: 15px;
    margin: 15px;
    margin-left: 80px;
    border-radius: 25px;
}

.comment::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: black;
    opacity: 50%;
}

/*
Maps
*/
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.image-container img {
    width: 900px;
    height: 800px;
    object-fit: cover;
}
.image-container img.tall {
    width: 650px;
}
.image-container figure,
.image-container iframe {
    display: none;
}
.map-button {
    background: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 9px 15px;
    cursor: pointer;
}
.map-button:hover {
    background: darkgreen;
}
.map-button:focus {
    outline: none;
}
/*
Achievements
*/
.achv-table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    table-layout: fixed;
}
.achv-card {
    width: 50%;
    background: green;
    box-shadow: 2px 2px 10px black;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    vertical-align: top;
}
.achv-img {
    border-radius: 50%;
    width: 65px;
    height: 65px;
}
.achv-progress {
    width: 90%;
    height: 10px;
}

/*
About
*/

.about-us {
    text-align: center;
    margin: 20px;
}

.about-text {
    display: inline-block;
    background-color: white;
    border: 2px solid rgb(116, 196, 116);
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
}

.about-us img {
    display: block; 
    margin: auto; 
    border-radius: 50%; 
    width: 350px;
}

/*
Eco-stats
*/

#mainContent{
    flex: 1;
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    overflow: hidden;

}

#profileContent{
    width: 650px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color: white;
    margin-top: 40px;
    align-self: flex-start;
    margin-left: 200px;

    
}

#profileImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

#sidebarsContent {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    margin-top: 40px;
    height: 890px;
    overflow: hidden; 
}
#progressContent, #todoContent{
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 30%;
}

#postContent tr,td{
    border: 2px solid;
    flex: 1;
    padding: 0%;
}

#postContent img {
    width: 130px;
    margin: 0%;
}

#postContent{
    margin: 0 auto; 
    border-collapse: collapse;
    height: 400px;
}

#todoContent {
    font-size: 30px;
    overflow-y: hidden;
    flex-grow: 1;
}

#myProfileSection{
    text-align: left;
    margin-left: 100px;
    font-size: 20px;
}

.profileTable {
    border-collapse: collapse;
    border: none;
  }
  
  .profileTable td,
  .profileTable tr {
    border: none;
    padding-right: 120px;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }

  #logOut{
    width: 100px;
    height: 30px;
    border-radius: 40px;
    margin-top: 20px;
    background-color: lightblue;
    font-weight: bold;
    color: white;
  }

  #progressBarContainer {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    margin-top: 10px;
    overflow: hidden;
  }
  
  #progressBar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
  }
  * {
    box-sizing: border-box;
  }

  .todo input[type="checkbox"]{
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

#buttonDiv button{
    width: 200px;
    height: 60px;
    border-radius: 40px;
    margin-top: 90px;
    font-size: 20px;
}

#buttonDiv {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.todo {
    height: 400px;
}

#statusBar {
    padding-left: 520px;
}

#tasksDone {
    padding-left: 520px;
}

#recordsTable tr, 
#recordsTable td {
    border: none;
    margin: 30px;
    padding-top: 30px;
    font-size: 19px;
}

/*
Login
*/

#loginForm {
    display: block;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    text-align: center;
    background-color: white;
    margin-top: 200px;
}

#loginForm input[type="submit"] {
    width: 100px;
    height: 30px;
    border-radius: 40px;
    margin-top: 20px;
    background-color: lightgreen;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    color: rgb(80, 60, 60);
}

#loginForm input[type="submit"]:hover {
    background-color: rgb(75, 182, 75);
    color: white;
}